[Unit]
Description=Minecraft Server
After=network.target

[Service]
ExecStart=$shell_script_path
ExecReload=$shell_script_path
Type=notify
Restart=always
User=$user
WorkingDirectory=$workdir

[Install]
WantedBy=default.target
RequiredBy=network.target
